<section div class="header">
  <p class="site-title-sub">愛知メモリアルスポーツサークル</p>
  <h1 class="site-title">MICS</h1>
  <p class="site-description">運動を全力で楽しみ最高の仲間を作る</p>
  <div class="buttons">
    <a class="button" href="#about">LEARN MORE</a>
    <a class="button button-showy" href="#contact">SEND MESSAGE</a>
  </div>
</div>
</section>
<section class="about" id="about">
  <h2 class="heading">MICSって？</h2>
  <p class="about-text">
    名古屋一ゆるふわなサークルを目指してます！<br>
    やりたいと思ったスポーツイベントに自由に参加していただき、スポーツを通して気の合う仲間を見つけてください。<br>
    MICSのメンバーはみんな感謝の気持ちや心遣いをもった素敵な人達ばかりです。<br>
  </p>
  <p class="about-text">
    MICSのイベントはスポーツだけではありません。<br>
    MICSは<strong>スポーツを全力で楽しむこと</strong>の他に<strong>最高の仲間を作ること</strong>も目的としているため、ただ集まってスポーツするだけではなく<br>
    ときには飲み会・BBQ・バンガロー・キャンプ・海・スノボー合宿等のイベントも企画させていただいております。<br>
    これからも楽しいイベントを継続して企画していく予定ですので、たくさんのイベントを通してメンバー同士の仲を深めていただければ嬉しいです。<br>
  </p>
</section>
<section class="event" id="event">
  <h2 class="heading">イベント</h2>
  <p class="event-text">
  <div class="row">
    <div class="col-md-12">
      <ol class="events">
        <%= render @events %>
      </ol>
    </div>
  </p>
  </div>
</section>
<section class="works">
  <h2 class="heading">年間スケジュール</h2>
  <div class="works-wrapper">
    <div class="work-box tree">
      <%= image_tag("mics_logo.png", class: "work-image", alt: "default image") %>
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            登山<br>
            普段生活している空間には絶対にないたくさんの植物、澄んだ空気、山頂からの景色は最高です。<br>
            一緒におにぎりを食べましょう!<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
    <div class="work-box building">
      <%= image_tag("mics_logo.png", class: "work-image", alt: "default image") %>
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            サッカー<br>
            大会に出場して優勝したりしてます。<br>
            最近は女子マネージャーも入部し士気が高まってます。<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
    <div class="work-box lake">
      <%= image_tag("mics_logo.png", class: "work-image", alt: "default image") %>
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            BBQ<br>
            暑い夏にはこのイベントがかかせませんね！<br>
            肉を焼いてビールを浴びるほど飲みましょう！<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
    <div class="work-box sky">
      <%= image_tag("mics_logo.png", class: "work-image", alt: "default image") %>
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            初詣<br>
            みんなで今年の豊富を掲げました。<br>
            皆さんあけましておめでとうございました。今年も最高の年にしていきましょう！<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills">
  <h2 class="heading">大事にして欲しいこと</h2>
  <div class="skills-wrapper">
    <div class="skill-box">
      <i class="skill-icon fa fa-heartbeat"></i>
      <div class="skill-title">思いやる</div>
      <p class="skill-text">
        メンバーのことは積極的に認めていきましょう<br>
        せっかく同じ気持ちで楽しくスポーツをしようと思い参加してくださっておりますので、相手を否定せず、下手だからといって文句は言わないようにしましょう。<br>
        運動が得意な人は、みんなが楽しめるよう引っ張っていってくぞという気持ちでいてほしいです。<br>
      </p>
    </div>
    <div class="skill-box">
      <i class="skill-icon fa fa-handshake-o"></i>
      <div class="skill-title">感謝を伝える</div>
      <p class="skill-text">
        メンバーが何かしてくれたらしっかりと感謝の気持ちを伝えていきましょう。<br>
        施設予約等で協力したいと言っていただいたメンバーも何人かいらっしゃいます。<br>
        まずはその方々に「ありがとう」と感謝の言葉を伝えていただきたいです。<br>
        参加は自由で、来るならみんなで楽しもう！って感じです。<br>
      </p>
    </div>
    <div class="skill-box">
      <i class="skill-icon fa fa-users"></i>
      <div class="skill-title">強制しない</div>
      <p class="skill-text">
        「強制参加や会費等は一切ありません！」<br>
        暇なときや運動がしたくなったらそのときだけご参加ください。<br>
      </p>
    </div>
    <div class="skill-box">
      <i class="skill-icon fa fa-ban"></i>
      <div class="skill-title">禁止事項</div>
      <p class="skill-text">
        1. 宗教勧誘目的の参加<br>
        2. ネットビジネス、マルチ商法の勧誘目的の参加<br>
        3. 相手の嫌がる行為
        <br>
        宗教やネットビジネスを否定しているのではなく、このサークルはそういった活動をする場ではないということです。<br>
        純粋に友達を作り、スポーツを楽しむ場所にしたいと思っております。<br>
        ちなみにもちろん恋愛は自由ですよ！アイドルグループじゃないのでw<br>
      </p>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <h2 class="heading">参加はこちら！</h2>
  <form class="contact-form">
    <input type="text" name="name" placeholder="LINE_ID">
    <textarea name="message" placeholder="やりたいスポーツやメッセージをご記入ください！"></textarea>
    <input type="submit" value="送信">
  </form>
</section>
