<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.events.any? %>
    <ol class="events">
      <%= render @events %>
    </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
  <div class="col-md-8">
    <ol class="events">
      <%= render @joining_events %>
    </ol>
      <%= will_paginate @joining_events %>
  </div>
</div>

<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=bluebird14141414%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FTokyo" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>

<a href="https://line.me/R/ti/p/%40olv2704m"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
