<li id="events-<%= event.id %>">
  <span class="picture">
  <% if event.picture? %>
    <%= image_tag event.picture.url %>
  <% else %>
    <%= image_tag("mics_logo.png", alt: "default image", size: "110x110") %>
  <% end %>
  </span>
  <span class="title"><%= link_to event.title, event_path(event) %></span>
  <span class="sub_title"><%= event.sub_title %></span>
  <span class="location"><%= event.location %></span>
  <% if event.start_time.nil? %>
  <% else %>
  <span class="time">
  <%= event.start_time.strftime("%m/%d %H:%M") %> ~ <%= event.end_time.strftime("%H:%M") %>
  </span>
  <% end %>
  <span class="capacity">0/<%= event.capacity %>äºº</span>
  <span class="update"><%= link_to "ç·¨é›†ã™ã‚‹", edit_event_path(event) %></span>
  <span class="delete">
    <%= link_to "å‰Šé™¤ã™ã‚‹", event, method: :delete,
                data: { confirm: "ãƒ›ãƒ³ãƒˆã«å‰Šé™¤ã—ã¦ã‚‚ã„ã„ã§ã™ã‹ï¼ŸðŸ˜‰" }%>
  </span>
</li>
