<h1><%= @event.title %></h1>

<div class="row">
  <%= render 'join_form' %>
  <div class="col-md-6 col-md-offset-3">
    <p><%= @event.title %></p>
    <p><%= @event.sub_title %></p>
    <% if @event.picture.url.nil? %>
    <% else %>
      <p><%= image_tag @event.picture.url %></p>
    <% end %>
    <p><%= @event.description %></p>
    <p><%= @event.location %></p>
    <p><%= @event.start_time %></p>
    <p><%= @event.end_time %></p>
    <p><%= @event.capacity %></p>
  </div>

  <div class="col-md-8">
    <ol class="users">
      <%= render @joiners %>
      <%# TODO: id を変数にして存在しているidの数分回してidを入れていく %>
      <%= image_tag @joiners.find_by(id: 1).image %>
    </ol>
      <%= will_paginate @joiners %>
  </div>
</div>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  </script>
