<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "MICS", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "代表より", message_path %></li>
      <li><%= link_to "インタビュー", interview_path %></li>
      <li><%= link_to "ふぉと", photo_path %></li>
      <li><%= link_to "応募", join_path %></li>
      <li><%= link_to "ログイン", '#' %></li>
    </ul>
  </nav>
</div>
</header>
