<!DOCTYPE html>
<html>
  <head>
    <title>MICS Application</title>
  </head>
  <body>
    <header>
    <div class="container">
      <%= link_to "MICS Application", '#', id: "logo" %>
      <nav>
        <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
    </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
